{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mx-auto px-8">

        <h1 class="text-center text-2xl font-bold">Me contacter</h1>
        <p class="text-center text-gray-600">Vous pouvez me contacter en remplissant le formulaire ci-dessous.</p>
        <p class="text-center text-gray-600 mb-6">
            Mais vous pouvez aussi me contacter par mail à l'adresse <a href="mailto:{{ email }}" class="text-blue-700 hover:text-blue-800">{{ email }}</a>
        </p>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="mb-6">
            {{ form_label(form.nom, '', {
                label_attr: {
                    class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'
                }
            }) }}
            {{ form_widget(form.nom, {
                attr: {
                    class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5'
                }
            }) }}
        </div>
        <div class="mb-6">
            {{ form_label(form.prenom, '', {
                label_attr: {
                    class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'
                }
            }) }}
            {{ form_widget(form.prenom, {
                attr: {
                    class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5'
                }
            }) }}
        </div>

        <div class="mb-6">
            {{ form_label(form.email, '', {
                label_attr: {
                    class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'
                }
            }) }}
            {{ form_widget(form.email, {
                attr: {
                    class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5'
                }
            }) }}
        </div>

        <div class="mb-6">
            {{ form_label(form.message, '', {
                label_attr: {
                    class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'
                }
            }) }}
            {{ form_widget(form.message, {
                attr: {
                    class: 'block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500'
                }
            }) }}
        </div>
        <div class="mb-6">
            {{ form_label(form.captcha, '', {
                label_attr: {
                    class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'
                }
            }) }}
            {{ form_widget(form.captcha, {
                attr: {
                    class: 'p-2.5'
                }
            }) }}
        </div>
        {{ form_widget(form.submit, {
            attr: {
                class: 'text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center'
            }
        })
        }}
        {{ form_end(form) }}
    </div>
{% endblock %}